<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862474353632-qugm7aovi2juacui29qpbbj5qa9nr87f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862474353632-qugm7aovi2juacui29qpbbj5qa9nr87f</string>
	<key>API_KEY</key>
	<string>AIzaSyB7CQ73wFkE6Fj1foLpvblICkJ8CcJMJvM</string>
	<key>GCM_SENDER_ID</key>
	<string>862474353632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sevensandfifteens</string>
	<key>PROJECT_ID</key>
	<string>sevensandfifteens</string>
	<key>STORAGE_BUCKET</key>
	<string>sevensandfifteens.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862474353632:ios:f6686d4883c3cac216c985</string>
</dict>
</plist>